<?xml version="1.0"?>
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="Conn" connectionString="Data Source=DESKTOP-9B3BV7M\SQLEXPRESS01;Initial Catalog=Clifford;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CliffordConnectionString" connectionString="Data Source=DESKTOP-9B3BV7M\SQLEXPRESS01;Initial Catalog=Clifford;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>